
<%- include("./partials/header")%>

<h2 class="p-3 bg-primary-subtle text-center text-uppercase">Update Book</h2>
<div class="container-fluid w-100 d-flex justify-content-center align-items-center" style="height: 100vh;">
    <form action="/update/<%= book._id %>" method="post" class="bg-dark text-light p-4 rounded" style="max-width: 600px; width: 100%;" enctype="multipart/form-data">
        <div class="mb-4 text-center">
            <img width="50%" height="100px" class="rounded-2" src="/images/<%= book.image %>" alt="">
        </div>
        <div class="form-group">
            <input type="file" name="image" class="form-control mb-3">
        </div>
        <input type="hidden" name="oldimage" value="<%= book.image %>">
        <div class="form-group">
            <input class="form-control mb-3" type="text" name="name" placeholder="Bookname" value="<%= book.name %>">
        </div>
        <div class="form-group">
            <input class="form-control mb-3" type="text" name="author" placeholder="Authorname" value="<%= book.author %>">
        </div>
        <div class="form-group">
            <input class="form-control mb-3" type="text" name="price" placeholder="Bookprice" value="<%= book.price %>">
        </div>
        <div class="form-group">
            <input class="form-control mb-3" type="text" name="quantity" placeholder="Quantity" value="<%= book.quantity %>">
        </div>
        <div class="form-group">
            <input class="form-control mb-3" type="text" name="category" placeholder="Category" value="<%= book.category %>">
        </div>
        <div class="form-group">
            <textarea class="form-control mb-3" name="description" cols="30" rows="4" placeholder="Enter text here ----"><%= book.description %></textarea>
        </div>
        <button type="submit" class="btn btn-info w-100">Update Book</button>
    </form>
</div>
<a class="position-absolute top-0 end-0 p-2" href="/">Back to Homepage</a>

<%- include("./partials/footer")%>
